:root {
    --bg-color: #e5e7eb;
    --shadow-color: #9b9c9d;
    --font-color: #1f2937;
}


body {
    background-color: #e2e2e2;
}



div.header {
    width: 90%;
    height: 5%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--bg-color);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px var(--shadow-color);

    h1 {
        cursor: pointer;
        color: var(--font-color);
        padding-left: 30px;
        padding-right: 30px;
        font-size: 2rem;

    }

}


.type {
    width: clamp(150px, 20vw, 300px);
    margin-left: 1.5%;
    padding: 1rem;
    box-sizing: border-box;
}

.type-container {
    display: flex;
    flex-direction: column; 
    box-shadow: 0px 0px 15px 0px var(--shadow-color);
    border-radius: 15px;
    background-color: var(--bg-color);
    overflow: hidden;
    width: 100%;
    
}

.work,
.personal,
.other {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
    

}

.work,
.personal {
    border-bottom: 1px solid var(--shadow-color);
}

.personal .icon {
    width: 15%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #9fdbde;
}

.work .icon {
    width: 15%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #e88470;
}

.other .icon {
    width: 15%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #7e7e7e;
}

.work p,
.personal p,
.other p {
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

.work:hover,
.personal:hover,
.other:hover {
    background-color: #e1e1e1;
}
