:root {
    --bg-color: #e5e7eb;
    --shadow-color: #9b9c9d;
    --font-color: #1f2937;
}




body {
    background-color: #8bc9ff;
    height: 100%;
}



div.header {
    width: 95%;
    height: 5%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--bg-color);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px var(--shadow-color);

    h1 {
        cursor: pointer;
        color: var(--font-color);
        padding-left: 30px;
        padding-right: 30px;
        font-size: 2rem;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
    }


}



div.board {
    width: 95%;
    height: auto;
    min-height: 85vh;
    background-color: var(--bg-color);
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    box-shadow: 0px 0px 15px 0px var(--shadow-color);
    margin-top: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: flex-start;

}

div.card {
    width: 47%;
    max-height: 10%;
    border: 2px solid #8bc9ff;
    margin-left: 2%;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
    h3 {
        width: 95%;
        margin: 0 auto;
        margin-top: 10px;
        font-family: bold, sans-serif;
        font-size: clamp(1rem, 2vw, 4rem);
        font-weight: 400;

    }

    p {
        width: 95%;
        margin: 0 auto;
        margin-top: 20px;
        font-family: 'bold', sans-serif;
        font-size: clamp(0.8rem, 1.4vw, 3rem);
        font-weight: 400;

    }


    [contenteditable] {
        outline: none;
    

    }

    [contenteditable="true"]:empty::before {
     content: attr(data-placeholder);
        color: gray;
    }   
    
    
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow:hidden;
}
.card-desc {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-footer {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;

    .card-date {
        font-family: 'bold', sans-serif;
        font-size: 1.25rem;
        font-weight: 1400;

    }

    input.card-check{
        width: 1rem; 
        height: 1rem;
    
    }
}

[contenteditable="true"]:not(:focus):empty::before {
    content: attr(data-placeholder);
    color: gray;
}
